<div class="container">
  <app-navbar></app-navbar>
  <br />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>
          <input class="form-check-input" type="checkbox" value="" [checked]="isTaskFinished(task.status)"
            id="defaultCheck1" (click)="handleButtonClick(task.id)"/>
        </td>
        <td>{{task. name}}</td>
        <td>
          <input type="checkbox" class="btn-check" [id]="'btn-check-'+ task.id + '-outlined'" autocomplete="off"
            [checked]="isTaskFinished(task.status)" (click)="handleButtonClick(task.id)"/>
          <label class="btn btn-outline-secondary"
            [for]="'btn-check-' + task.id + '-outlined'">{{task.status}}</label><br />
        </td>
      </tr>
    </tbody>
  </table>

  <app-footer></app-footer>
</div>