<div class="container">

  <app-navbar></app-navbar>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="defaultCheck1"
          />
        </td>
        <td>Otto</td>
        <td>
          <input
            type="checkbox"
            class="btn-check"
            id="btn-check-2-outlined"
            autocomplete="off"
          />
          <label class="btn btn-outline-secondary" for="btn-check-2-outlined"
            >Completed</label
          ><br />
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="defaultCheck1"
          />
        </td>
        <td>Thornton</td>
        <td>
          <input
            type="checkbox"
            class="btn-check"
            id="btn-check-3-outlined"
            autocomplete="off"
          />
          <label class="btn btn-outline-secondary" for="btn-check-3-outlined"
            >Completed</label
          ><br />
        </td>
      </tr>
    </tbody>
  </table>

  <app-footer></app-footer>
</div>
